<h1>Welcome to EliteMotion</h1>
<p>
  EliteMotion is a user-friendly and efficient tool designed to help individuals achieve their fitness goals.Join us!</p>
<a href="/login" class="btn btn-lg btn-light fw-bold">Log In</a>
<a href="/signup" class="btn btn-lg btn-light fw-bold">Sign up</a>